{% load static %}
<div>
        <div id="text_error_planning" style="display: none;" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        </div>
        <div class="mb-3 row">
            <label for="planningdate{{item_cnt}}" class="col-md-4 col-form-label">Date:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="planningdate{{item_cnt}}" data-date-format="dd M, yyyy" data-provide="datepicker" data-date-autoclose="true" autocomplete="off" required>
            </div>
        </div>
        <div class="mb-3 mt-3 row">
            <label for="planningdescription{{item_cnt}}" class="col-md-4 col-form-label">Description:</label>
            <div class="col-md-8 ">
                <select class="form-control select2" id="planningdescription{{item_cnt}}" required>
                    <option value="">Select Description</option>
                    {% for description in scopedescriptions %}
                        <option value="{{description.description}}">{{description.description}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="planninguom{{item_cnt}}" class="col-md-4 col-form-label">UOM:</label>
            <div class="col-md-8">
                <select class="form-control uom-select" id="planninguom{{item_cnt}}" name="planninguom">
                    <option value="">Select UOM</option>
                    {% for uom in uoms %}
                        <option value="{{uom.id}}">{{uom.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="planningqty{{item_cnt}}" class="col-md-4 col-form-label">Qty:</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="planningqty{{item_cnt}}" name="planningqty" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" required>
            </div>
        </div>
        <div style="margin-top: 25px;margin-bottom: 25px;background: #cccccc;height: 3px;"></div>
</div>

<script>

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = monthNames[today.getMonth()];
    var yyyy = today.getFullYear();
    $("#planningdate"+{{item_cnt}}).val(dd + " " + mm + ", " + yyyy);
    $('#planningdate'+{{item_cnt}}).datepicker('setDate', dd + " " + mm + ", " + yyyy);


    $("#planningdescription"+{{item_cnt}}).on('change', function(e){
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax_get_site_uom_name" %}',
            data: {
                progressdescription: $("#planningdescription"+{{item_cnt}}).val(),
                proj_id: $("#project_filter").val()
            },
            type: 'POST',
            success: function (data) {
                if(data.status == "exist") {
                    $("#planninguom"+{{item_cnt}}).val(data.uom);
                    $("#planninguom"+{{item_cnt}}).trigger('change');
                }

            }
        });
    });

    $("#planningdescription"+{{item_cnt}}).select2({width: '100%', dropdownParent: $("#manage_planning")});
    $(".uom-select").select2({width: '100%', dropdownParent: $("#manage_planning")});

</script>
