{% extends "base.html" %}
{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
  media="screen"> 
{% endblock%}

{% block scripts %}
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content_wrapper %}
<div class="container">
  <div class="container">
    <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}