{% load static %}
<div>
        <div id="text_error_detail" style="display: none;" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        </div>
        <div class="mb-3 mt-3 row">
            <label for="sn{{item_cnt}}" class="col-md-4 col-form-label">SN:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="sn{{item_cnt}}" name="sn">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description{{item_cnt}}" class="col-md-4 col-form-label">Description:</label>
            <div class="col-md-8">
<!--                <textarea class="form-control" rows="4" type="text" id="description{{item_cnt}}" list="list__desc-list" required></textarea>-->

                {% comment %} <input class="form-control" type="text" list="list__desc-list" id="description{{item_cnt}}">

                <datalist id="list__desc-list">
                    {% for description in descriptions %}
                        <option value="{{description.description}}" data-value={{description.id}}></option>
                    {% endfor %}
                </datalist> {% endcomment %}
                <textarea 
                    class="form-control" 
                    id="description{{item_cnt}}" 
                    placeholder="Start typing..."
                    oninput=showSuggestions(this.value)
                    onblur=hideSuggestions()
                    rows="4" 
                    cols="50"></textarea>
                <div id="suggestions-box" class="suggestions" style="display: none;"></div>
            </div>
        </div>
        <div class="mb-3 mt-3 row">
            <label for="qty{{item_cnt}}" class="col-md-4 col-form-label">QTY:</label>
            <div class="col-md-8">
                <input type="text" class="form-control integer" id="qty{{item_cnt}}"  name="qty" required>
                <div id="qty_error_detail{{item_cnt}}" style="display: none;" class="alert alert-danger alert-dismissible fade show mb-0" role="alert"></div>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="uom{{item_cnt}}" class="col-md-4 col-form-label">UOM:</label>
            <div class="col-md-8">
                <select class="form-control uom-select" id="uom{{item_cnt}}" name="uom" required>
                    <option value="">Select UOM</option>
                    {% for uom in uoms %}
                        <option value="{{uom.id}}">{{uom.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="unitprice{{item_cnt}}" class="col-md-4 col-form-label">Unit Price:</label>
            <div class="col-md-8">
                <input class="form-control js-number" type="text" id="unitprice{{item_cnt}}" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="unitcost{{item_cnt}}" class="col-md-4 col-form-label">Unit Cost:</label>
            <div class="col-md-8">
                <input class="form-control js-number" type="text" id="unitcost{{item_cnt}}" >
            </div>
        </div>
        <div style="margin-top: 25px;background: #cccccc;height: 3px;"></div>
</div>
<script>
    $(".select2").select2({width: '0%'});
    $(".uom-select").select2({width: '100%', dropdownParent: $("#manage_info")});

    
    const descriptions = [
        {% for description in descriptions %}
            { value: "{{ description.description|escapejs }}", id: "{{ description.id }}" },
        {% endfor %}
    ];


    function showSuggestions(inputValue) {
        const suggestionsBox = document.getElementById('suggestions-box');
        suggestionsBox.innerHTML = ''; // Clear previous suggestions
        if (inputValue.length === 0) {
            suggestionsBox.style.display = 'none';
            return;
        }

        const filteredDescriptions = descriptions.filter(item =>
            item.value.toLowerCase().includes(inputValue.toLowerCase())
        );

        filteredDescriptions.forEach(item => {
            const suggestionItem = document.createElement('div');
            suggestionItem.style.borderBottom = '1px solid #ccc'; // Add the border-bottom style
            suggestionItem.style.padding = '8px'; // Add some padding for better spacing
            suggestionItem.style.cursor = 'pointer'; // Change the cursor to pointer on hover
            suggestionItem.textContent = item.value;
            suggestionItem.onclick = () => {
                $("#description"+{{item_cnt}}).val(item.value);
                suggestionsBox.style.display = 'none';
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    url: '{% url "ajax_get_scope_by_description" %}',
                    data: {
                        description: $("#description"+{{item_cnt}}).val(),
                    },
                    type: 'POST',
                    success: function (data) {
                        scope_data=JSON.parse(data);
                        if (scope_data.status=="success"){
                            $("#unitprice"+{{item_cnt}}).val(scope_data.unit_price);
                            $("#unitcost"+{{item_cnt}}).val(scope_data.unit_cost);
                            $("#uom"+{{item_cnt}}).val(scope_data.uom_id);
                            $("#uom"+{{item_cnt}}).trigger("change");
                        }
                    }
                });
            };
            suggestionsBox.appendChild(suggestionItem);
        });

        suggestionsBox.style.display = filteredDescriptions.length > 0 ? 'block' : 'none';
    }

    function hideSuggestions() {
        setTimeout(() => {
            document.getElementById('suggestions-box').style.display = 'none';
        }, 200); // Delay to allow click event on suggestions to be registered
    }

</script>
