{% load static %}
<div class="table-responsive mt-2">
    <table id="dotable" class="table table-bordered align-middle dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th width="5%">SN</th>
                <th width="10%">Do No</th>
                <th width="10%">Date</th>
                <th width="10%">Status</th>
                <th width="35%">Customer Signed Do</th>
                <th width="10%">Project Id</th>
                <th width="10%">Invoice No</th>
                <th width="10%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for service in projDolist %}
                <tr>
                    <td class="align-middle">{{forloop.counter}}</td>
                    <td class="align-middle">{{service.do_no|default_if_none:""}}</td>
                    <td class="align-middle">{{service.date|date:"d M, Y"|default_if_none:""}}</td>
                    <td class="align-middle">{{service.status|default_if_none:""}}</td>
                    <td class="align-middle">{{service.filename|default_if_none:""}}</td>
                    <td class="align-middle">
                        <a href="{% url 'project_summary_detail' service.project_id %}">
                            {{service.project.proj_id|default_if_none:""}}
                        </a>
                    </td>
                    <td class="align-middle">{{service.invoice_no|default_if_none:""}}</td>

                    <td class="align-middle">
                        <a href="{% url 'project_do_detail' service.project_id service.id %}" class="btn btn-outline-primary btn-sm " title="View">
                            <i class="ion ion-md-eye"></i>
                        </a>
                        <a href="javascript:void(0);" onclick="addProjInvoiceNo('{{service.id}}')" class="btn btn-outline-primary btn-sm srInvoiceUpdate" title="Add invoice No">
                            <i class="fas fa-pencil-alt mr-2"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% with projDoCount=projDolist|length %}
            {% for service in salesDolist %}
                <tr>
                    <td class="align-middle">{{forloop.counter|add:projDoCount}}</td>
                    <td class="align-middle">{{service.do_no|default_if_none:""}}</td>
                    <td class="align-middle">{{service.date|date:"d M, Y"|default_if_none:""}}</td>
                    <td class="align-middle">{{service.status|default_if_none:""}}</td>
                    <td class="align-middle">{{service.filename|default_if_none:""}}</td>
                    <td class="align-middle">
                        <a href="{% url 'sales_summary_detail' service.product_sales_id %}">
                            {{service.product_sales.prod_sale_id|default_if_none:""}}
                        </a>
                    </td>
                    <td class="align-middle">{{service.invoice_no|default_if_none:""}}</td>

                    <td class="align-middle">
                        <a href="{% url 'sales_do_detail' service.product_sales_id service.id %}" class="btn btn-outline-primary btn-sm " title="View">
                            <i class="ion ion-md-eye"></i>
                        </a>
                        <a href="javascript:void(0);" onclick="addSalesInvoiceNo('{{service.id}}')" class="btn btn-outline-primary btn-sm srInvoiceUpdate" title="Add invoice No">
                            <i class="fas fa-pencil-alt mr-2"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% endwith %}
        </tbody>
    </table>
</div>
<script>
    $("#dotable").DataTable({
        "aaSorting": [[ 0, "asc" ]],
        paging: true,
        info: true,
        dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-2 text-start'i><'col-sm-2 mt-2 text-start'l><'col-sm-8 mt-2'p>>",
    });
    $("#searchServicePlace").html($(".dataTables_filter"));
</script>